<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="RawdataMagnetic" type="com.skt.ehs.mbs.fpbuilder.magfpbuilder.RawdataMagnetic"/>
        <typeAlias alias="_mag_quantity" type="com.skt.ehs.mbs.fpbuilder.magfpbuilder._mag_quantity"/>
        <typeAlias alias="CellStatistics" type="com.skt.ehs.mbs.fpbuilder.magfpbuilder.CellStatistics"/>
        <typeAlias alias="_ble_indicator" type="com.skt.ehs.mbs.fpbuilder.blefpbuilder._ble_indicator"/>
        <typeAlias alias="_magnetic_direction" type="com.skt.ehs.mbs.fpbuilder.blefpbuilder._magnetic_direction"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver" />
                <property name="url" value="jdbc:mariadb://210.116.106.157:3306/ehs" />
                <property name="username" value="dba_entels" />
                <property name="password" value="entels!Q@W" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="db/maria/mapper/dbOperationMapper.xml" />
        <mapper resource="db/maria/mapper/ReadInputMapper.xml" />
    </mappers>

</configuration>